@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.crazy-3d-title {
  text-shadow:
    2px 2px 0 #787476, 
    4px 4px 0 #2c2c2c,   
    6px 6px 8px #313030, 
    0 0 40px #c3c1c2;    
  transform: perspective(400px) rotateX(8deg) rotateY(-12deg);
  animation: crazy-wobble 2s infinite alternate cubic-bezier(.68,-0.55,.27,1.55);
}

@keyframes crazy-wobble {
  0%   { transform: perspective(400px) rotateX(8deg) rotateY(-12deg) scale(1);} 
  50%  { transform: perspective(400px) rotateX(-6deg) rotateY(10deg) scale(1.07);}
  100% { transform: perspective(400px) rotateX(8deg) rotateY(-12deg) scale(1);}
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  background-color: inherit !important;
  -webkit-text-fill-color: inherit !important;
  border-color: inherit !important;
}

